.keys {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 12px;
  align-items: center;
}
.key {
  display: grid;
  grid-template-rows: 1fr 1fr;

  /*            border-radius: .5rem;*/
  border: 1px solid #d3d3d375;
  margin-right: 1rem;
  margin-bottom: 1rem;

  font-size: 1.5rem;
  padding: 0.5rem 0.5rem 0;

  transition: all 0.07s ease;
  width: 8rem;
  text-align: center;
  color: white;
  /*              background: rgba(0,0,0,0.4);*/
  text-shadow: 0 0 0.5rem black;
  cursor: pointer;
}

.key kbd {
  text-align: center;
  margin-bottom: 0.4rem;
  font-size: 1.4em;
  font-family: 'Mansalva', cursive;
  font-weight: 900;
}
.key:active kbd {
  transform: scale(1.1);
}

.key:active,
.playing {
  -webkit-box-shadow: 3px 11px 5px -5px rgba(199, 199, 199, 1);
  -moz-box-shadow: 3px 11px 5px -5px rgba(199, 199, 199, 1);
  box-shadow: 3px 11px 5px -5px rgba(199, 199, 199, 1);
}

.sound {
  font-size: 0.5rem;
  margin-top: 0.5rem;

  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
