/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

:root {
  --black: #282c34;
  --white: #c7c7c7;
}

.mansa {
  font-family: 'Mansalva', cursive;
}
/* 
.drum {
  
  -webkit-box-shadow: 22px 33px 36px 0px rgba(95, 90, 90, 0.75);
  -moz-box-shadow: 22px 33px 36px 0px rgba(95, 90, 90, 0.75);
  box-shadow: 22px 33px 36px 0px rgba(95, 90, 90, 0.75);
  border: 2px solid rgb(148, 141, 141);
} */

body {
  background-color: var(--black);
  font-size: 10px;
}
